<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/public.css') }}">
</head>
<body>
<div class="auth-wrapper">
    <div class="auth-box">
        <h1>Вход</h1>
        <form method="POST">
            <label>Логин</label>
            <input type="text" name="username" required>
            <label>Пароль</label>
            <input type="password" name="password" required>
            <button type="submit">Войти</button>
        </form>
        <p>Нет аккаунта?
           <a href="{{ url_for('register') }}">Зарегистрироваться</a>
        </p>
    </div>
</div>
</body>
</html>
